<div class="item ui grid admin-notification">
    <div class="sixteen wide column row">
        <div class="content">
           {{ 'websnacks.ui.no_notifications'|trans }}
        </div>
    </div>
</div>